<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}" lang="ko">

<head>
<!-- Mobile Specific Meta -->

<link rel="shortcut icon" th:href="@{/img/fav.png}">
<!-- Author Meta -->
<meta name="author" content="CodePixar">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Site Title -->
<title>마이 페이지</title>

<!--
            CSS
            ============================================= -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

<link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<!-- <style>
    /* 나의 프로필 (ID) 텍스트가 있는 영역의 배경색을 주황색 계열에 약한 그라데이션으로 설정 */
    .card-header {
        background: linear-gradient(135deg, #fd9149, #ffa579); /* 주황색 계열의 약한 그라데이션 */
        color: #fff; /* 텍스트 색상 설정 */
    }
</style> -->

<body>
	<div layout:fragment="content">
		<!-- Start Header Area -->
		
		<!-- End Header Area -->

		<!-- Start Banner Area -->
		<section class="banner-area organic-breadcrumb">
			<div class="container">
				<div
					class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
					<div class="col-first">
						<h1>마이 페이지</h1>
						<nav class="d-flex align-items-center">
							<a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
							<a th:href="@{/user/mypage}">MyPage</a>
						</nav>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->

		<!--================Checkout Area =================-->
		<section class="checkout_area section_gap">
			<div class="container">

				<div class="billing_details">
					<div class="row">
						<div class="col-lg-8">
							<h2>
								<strong>마이 페이지</strong>
							</h2>
							<p class="mb-4">나의 상세 정보와 Fit-pass platter를 통한 운동 정보를 확인하세요</p>
							<div class="card position-relative">
								<div class="card-header py-3 bg-secondary">
									<h4 class="m-0 font-weight-bold text-white">
										나의 프로필 (ID)<br>
									</h4>
								</div>
								<div class="card-body">
									<div class="mb-3">
										<code>
											<h1 style="margin-left: 15px;" th:text="${user.name} + ' 님'"></h1>
										</code>
									</div>
									<nav
										class="navbar navbar-expand navbar-light bg-light mb-4 justify-content-between">
										<a class="navbar-brand" href="#">운동 다이어리</a>
										<ul class="navbar-nav ml-auto">
											<li class="nav-item ml-auto mr-0"><a class="nav-link"
												th:href="@{/diary/diaryList}" id="navbarDropdown"
												role="button"> 바로 가기 </a></li>
										</ul>
									</nav>
									<!-- 가로 색 실선 추가 -->
									<div class="divider"></div>
									<nav
										class="navbar navbar-expand navbar-light bg-light mb-4 justify-content-between">
										<a class="navbar-brand">회원정보 수정</a>
										<ul class="navbar-nav ml-auto">
											<li class="nav-item ml-auto mr-0"><a class="nav-link"
												th:href="@{/user/updateForm}" id="navbarDropdown"
												role="button"> 바로 가기 </a></li>
										</ul>
									</nav>
									<!-- 가로 색 실선 추가 -->
									<div class="divider"></div>
									<nav
										class="navbar navbar-expand navbar-light bg-light mb-4 justify-content-between">
										<a class="navbar-brand">회원탈퇴</a>
										<ul class="navbar-nav ml-auto">
											<li class="nav-item ml-auto mr-0"><a class="nav-link"
												th:href="@{/user/delete}" id="navbarDropdown" role="button">
													바로 가기 </a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="order_box" style="height: 100%;">
								<h1>이용 내역</h1>
								<ul class="list">
									<li><h3>
											<strong>총 이용 횟수</strong>
										</h3>
										<h3>00번 이용하셨습니다.</h3></li>

								</ul>
								<ul class="list list_2">
									<li><h4>
											<strong>제일 자주 찾는 센터</strong>
										</h4>
										<h4>000점</h4></li>

								</ul>
								<br /> <a class="primary-btn mt-5" href="#">자세히 보기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================End Checkout Area =================-->

		<!-- start footer Area -->
		<footer class="sticky-footer bg-white ">
					<div class="container my-auto">
						<div class="copyright text-center my-auto mb-5">
							<span>Copyright © Your Website 2020</span>
						</div>
					</div>
				</footer>
		<!-- End footer Area -->


		<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
			integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
		<script th:src="@{/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/js/jquery.sticky.js}"></script>
		<script th:src="@{/js/nouislider.min.js}"></script>
		<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/js/owl.carousel.min.js}"></script>
		<!--gmaps Js-->
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
		<script th:src="@{/js/gmaps.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>
		</div>
</body>

</html>