<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Header</title>
<!-- Bootstrap CSS -->
<link
	href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link href="styles.css" rel="stylesheet">
</head>

<body>

	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container">
				<a href="/" class="navbar-brand d-flex align-items-center"> <strong>Fit-PassPlater</strong>
				</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarHeader"
					aria-controls="navbarHeader" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarHeader">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="/">홈</a></li>
						<li class="nav-item"><a class="nav-link" href="/user/login">로그인</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/indijoin">회원가입</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/user/info">게시판</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<!-- Content here -->

	<!-- Bootstrap JS and dependencies -->
	<script
		src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
