<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>다이어리 리스트 페이지</title>
<!-- Custom fonts for this template -->
<link href="../../static/vendor/fontawesome-free/css/all.min.css"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<!-- Custom styles for this template -->
<link href="../../static/css/sb-admin-2.min.css" rel="stylesheet">
<!-- Custom styles for this page -->
<link
	href="../../static/vendor/datatables/dataTables.bootstrap4.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">

<link rel="stylesheet" th:href="@{/css/main.css}">
<style>
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus
	{
	background-color: #6c757d !important; /* Bootstrap 회색 */
	border-color: #6c757d !important;
}

.btn-sm-custom {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}
</style>
</head>

<body id="page-top">
	<div layout:fragment="content">
	<section class="banner-area organic-breadcrumb">
			<div class="container">
				<div
					class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
					<div class="col-first">
						<h1>운동 다이어리</h1>
						<nav class="d-flex align-items-center">
							<a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
							<a href="#">DiaryList</a>
						</nav>
					</div>
				</div>
			</div>
		</section>
	
		<div id="wrapper">
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">
					<div class="container-fluid">
						<h1 class="h3 mt-3 mb-2 text-gray-800">다이어리 전체보기</h1>
						<p class="mb-4">자신의 운동일지를 기록해보세요. 하루하루 달라지는 나를 Fit-passplater와
							함께하세요!</p>
						<div class="card shadow mb-4">
							<div class="card-header py-3 d-flex justify-content-between">
								<h6 class="m-0 font-weight-bold text-primary">기록된 다이어리</h6>
								<a th:href="@{/diary/diaryNew}"
									class="btn btn-primary btn-sm-custom">새 다이어리 추가하기</a>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th>번호</th>
												<th>제목</th>
												<th>날짜</th>
												<th>내용</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="diary :${diarys}">
												<td th:text="${diary.id}"></td>
												<td><a th:href="'/diary/diaryView/' + ${diary.id}" style="text-decoration: none; color: black;">[[${diary.title}]]</a></td>
												<td
													th:text="${#dates.format(diary.date, 'yyyy-MM-dd')}"></td>
												<td th:text="${diary.content}"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright © Your Website 2020</span>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<a class="scroll-to-top rounded" href="#page-top"> <i
			class="fas fa-angle-up"></i>
		</a>
		<script src="../../static/vendor/jquery/jquery.min.js"></script>
		<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>
		<script src="../../static/js/sb-admin-2.min.js"></script>
		<script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
		<script
			src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
		<script src="../../static/js/demo/datatables-demo.js"></script>
		<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
			integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
			crossorigin="anonymous"></script>
		<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
		<script th:src="@{/js/jquery.nice-select.min.js}"></script>
		<script th:src="@{/js/jquery.sticky.js}"></script>
		<script th:src="@{/js/nouislider.min.js}"></script>
		<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/js/owl.carousel.min.js}"></script>
		<!--gmaps Js-->
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
		<script th:src="@{/js/gmaps.min.js}"></script>
		<script th:src="@{/js/main.js}"></script>
	</div>
</body>

</html>
